body {
	margin: 0;
	font-family: arial, sans-serif;
	font-size: 14px;
	color: #3C4043;
	padding-left: 10px;
}

a {
	text-decoration: none;
	font-weight: 400;
}

ul {
	list-style: none;
}

p {
	margin: 0;
}

/*Header*/
header {
	display: flex;
	flex-direction: row;
	align-items: center;

}
/*END Header*/

/**Left**/
.left_top {
	display: flex;
	flex-direction: row;
	align-items: center;
}


.left_top img{
	width: 95px;
	margin: 20px 30px 20px 15px;
}

.srch_box {
	width: 630px;
	height: 45px;
	border: 1px solid #dfe1e5;
	border-radius: 30px;
	display: flex;
	align-items: center;
}

.srch_box input {
	outline: none;
	border: none;
	margin-left: 20px;
	width: 85%;
	font-size: 16px;
}

#microphone {
	width: 20px;
	height: 20px;
	margin-left: 20px;
	margin-right: 20px;
	background-image: url(https://image.flaticon.com/icons/svg/786/786459.svg);
}

#loupe {
	width: 20px;
	height: 20px;
	margin-right: 20px;
	background-image: url(https://image.flaticon.com/icons/svg/751/751463.svg);
}
/**END Left**/

/**Right**/
.right_top {
	display: flex;
	flex-direction: row;
	align-items: center;
}
/**END Right**/

/***App icon***/
.app_cntr {
  width: 18px;
  margin-left: 650px;
}

.column {
  display: flex;
  justify-content: space-around;
}

#point {
  background-color: gray;
  width: 4px;
  height: 4px;
  border-radius: 3px;
  margin: 1px;
}
/***END App icon***/

/***Sign in button***/
.sign_in_btn {
	color: #fff;
	font-size: 14px;
	padding: 9px 23px;
	margin: 20px;
	background-color: #1a73e8;
	border: solid 1px transparent;
	border-radius: 3px;
}
/***END Sign in button***/

/*Navbar*/
nav {
	border-bottom: 1px solid #dfe1e5;
	margin: 0;
}

nav ul {
	list-style: none;
	margin-left: 110px;
	display: flex;
	flex-direction: row;
	margin-bottom: 0;
}

nav li {
	height: 30px;
	margin-left: 5px;
	margin-right: 5px;
}

nav li:nth-last-child(-n+2) {
	position: relative;
	left: 50px;
	margin-left: 20px;
}

.nvbr_icn {
	width: 13px;
	margin-left: 5px;
	margin-right: 5px;
}

#selected {
	border-bottom: 3px solid blue;
	color: blue;
}

/*END Navbar*/

/*Main*/
main {
	padding-top: 30px;
	padding-left: 165px;
}

#sh_rt {
	position: relative;
	bottom: 20px;
}

.route {
	color: #3C4043;
	margin-bottom: 0;
	cursor: pointer;
}

#rt_icn {
	width: 7px;
	margin-left: 5px;
	margin-bottom: 2px;
}

main h1 {
	margin: 0;
	font-size: 20px;
	line-height: 1.3;
}


main h2 {
	margin: 0;
	font-size: 20px;
	line-height: 1.3;
}

main h3 {
	margin: 0;
	font-size: 20px;
}

main article p {
	margin: 5px;
}

#frst_rslt {
	width: 560px;
	padding-top: 10px;
	display: flex;
	justify-content: space-between;
}

#frst_rslt p {
	margin-bottom: 20px;
	width: 220px;
}

#more_rslt {
	margin-left: 40px;
}

/**TOP Box**/
.bg_bx {
	position: absolute;
	left: 55%;
	bottom: 130px;
	width: 456px;
}

.bg_bx h5, .bg_bx p {
	color: #222;
}

.ctnr_bx {
	width: 456px;
	border: 1px solid #dfe1e5;
	border-radius: 10px;
}
/**End TOP Box**/

/***Top part of the box***/
.sup_ctnr {
	display: flex;
	justify-content: space-around;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 40px;
	border-bottom: 1px solid #dfe1e5;
}

#TOP_cmpny h4 {
	font-weight: normal;
	font-size: 30px;
	width: 200px;
	margin-top: 0;
	margin-bottom: 5px;
}

#TOP_cmpny span {
	color: #70757a;
}

#shr_icn {
	width: 20px;
	margin-top: 20px;
}

#TOP_icn {
	width: 150px;
}
/***END Top part of the box***/

/***Middle Container***/
.mid_ctnr {
	display: flex;
	align-items: center;
	padding: 10px 15px;
	border-bottom: 1px solid #dfe1e5;
}

#globe_icn {
	width: 20px;
	margin-right: 20px;
}
/***END Middle Container***/

/***Bottom Container***/
.bottom_ctnr {
	padding: 10px 15px;
}

.bottom_ctnr p {
	margin-bottom: 10px;
}
/***END Bottom Container***/

/****Profiles****/
.profiles h5 {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 0;

}

.btm_org {
	display: flex;
	align-items: center;
}

.btm_org ul {
	display: flex;
	flex-direction: row;
	padding: 0;
}

.btm_org ul li {
	margin-left: 15px;
	margin-right: 30px;
}

.pfl_ctnr {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pfl_icn {
	width: 30px;
	margin-bottom: 5px;
}
/****END Profiles****/

/****People also search for****/
.ppl_a_srch {
	margin-bottom: 20px;
}

.ppl_a_srch h5 {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 10px;
}

.ppl_a_srch div {
	margin-right: 10px;
}

.ppl_a_srch #vw10m {
	margin-top: 30px;
	margin-left: 120px;
	color: #70757a;
}

#edX span {
	position: absolute;
	bottom: 85px;
	left: 200px;
}

#KA span {
	position: absolute;
	bottom: 70px;
	left: 362px;
}
/****END People also search for****/

/***Elements out of the box***/
.out_bx {
	width: 456px;
	display: flex;
	justify-content: space-between;
}

.out_bx span {
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 20px;
}

#shld_icn {
	width: 20px;
	margin-left: ;
	margin: 5px;
}

.clm_pnl_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	border: 1px solid #dfe1e5;
	border-radius: 10px;
}
/***END Elements out of the box***/

/**People also ask**/
.ppl_ask_bg {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 656px;
}

#fdk {
	padding-left: 89%;
	font-size: 12px;
	color: #70757a;
}

.ppl_ask {
	border: 1px solid #dfe1e5;
	border-radius: 10px;
	color: #222;
	margin: 0;
	padding: 0;
}

.ppl_ask a {
	color:  #222 ;
}

.ppl_ask div {
	padding: 10px;
	padding-left: 15px;
}

.ppl_ask div:nth-child(n+2) {
	border-top: 1px solid #dfe1e5;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.ppl_ask div h4 {
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-weight: normal;
}

.ppl_ask div a {
	font-size: 16px;
}

#dwn_rrw {
	width: 10px;
	margin-right: 10px;
}
/**END People also ask**/

/*Continuation Main*/
.ctnt_org {
	width: 600px;
}

.ctnt_org ul {
	padding: 0;
}

.chnk_txt {
	color: #70757a;
}

#chnk_txt_xp {
	position: absolute;
	left: 630px;
}
/*EMD Main*/
